<div class="card">
    <img   id="img" src="{{resultados.url_img_servicio}}" class="card-img-top " alt="...">

    <div id="btns" class="card-body">
        <!-- Cuando hay Transmision -->
      <div *ngIf="(!(resultados.url_f_iglesia == ''))||(!(resultados.url_f_Youtube == ''))||(!(resultados.url_f_conexion == ''))||(!(resultados.url_f_Zoom == '')); else TransmOFF" class="Transmision">
        <div class="row">
          <div id="En_vivo"><i class="bi bi-broadcast"></i> En Vivo</div>
          <h5 id="servicio" class="card-title ">{{resultados.NombreServicio}}</h5>
        </div>
        <p class="card-text"> Hora: {{resultados.Hora}} </p>
        <p id="Instruccion" class="card-text mb-3">Haz Click en cualquiera de los enlaces:</p>
        
        <a *ngIf="!(resultados.url_f_iglesia == '')" id="url_f_iglesia" href="{{resultados.url_f_iglesia}}"
          class="btn btn-primary w-100 mb-1"> <i class="fab fa-facebook" style="margin-right: 5px; "></i>Página de la
          Iglesia</a><br>
        
        <a *ngIf="!(resultados.url_f_Youtube == '')" id="url_f_Youtube" href="{{resultados.url_f_Youtube}}"
          class="btn btn-primary w-100 mb-1"><i class="fab fa-youtube" style="margin-right: 5px;"></i>Youtube</a><br>
        
        <a *ngIf="!(resultados.url_f_conexion == '')" id="url_f_conexion" href="{{resultados.url_f_conexion}}"
          class="btn btn-primary w-100 mb-1"><i class="fab fa-facebook" style="margin-right: 5px;"></i>Conexion Juvenil</a><br>
        
          <a *ngIf="!(resultados.url_f_Zoom == '')" id="url_f_Zoom" href="{{resultados.url_f_Zoom}}" class="btn btn-primary w-100 mb-1">Zoom</a><br>
      </div>
      
        <!-- Cuando No Hay Transmision -->
        <ng-template #TransmOFF>
   
          <div class="msj-TransmOFF">
            <div class="versiculo"><q>Yo me alegré con los que me decían: A la casa de Jehová iremos.</q> <br>Salmos 122:1</div>
            <div class="msj-N-live"><strong></strong>, No Hay Transmisiones en Vivo, <br> Visite
              nuestras Redes sociales</div>
            <div class="redes"><a class="facebook" href="https://www.facebook.com/ibcunafamiliaconamor/" target="_blank"><i
                  class="fab fa-facebook"></i></a><a class="youtube" href="https://youtube.com/channel/UCXrNOwQkYBa-r5XDE33y8CA"
                target="_blank"><i class="fab fa-youtube"></i></a></div>
            <div class="oracion">
              <p>
          
          
            </div>
            <p><a href="{{resultados.url_peticiones}}">Quieres que Oremos Por ti haz clic</a></p>
            <a  id="url_f_Encuesta1" href="{{resultados.url_f_Encuesta1}}"   class="btn btn-primary w-100 mb-1">Llenar Encuesta</a>
          </div>
       
        </ng-template>
        </div>
         

    </div>

  
