

<div class="row">
    
    <div class="col col-xs-12" *ngIf="time.days != 0">
        <div class="col-12 value-box">
            <p class="text">{{time.days}}</p>
        </div>
        <div class="col-12 ref-box">
            <p class="text">Dias</p>
        </div>
    </div>

    <div class="col">
        <div class="col-12 value-box">
            <p class="text">{{time.hours}}</p>
        </div>
        <div class="col-12 ref-box">
            <p class="text">Hrs</p>
        </div>
    </div>

    <div class="col">
        <div class="col-12 value-box">
            <p class="text">{{time.minutes}}</p>
        </div>
        <div class="col-12 ref-box">
            <p class="text">min</p>
        </div>
    </div>

    <div class="col">
        <div class="col-12 value-box">
            <p class="text">{{time.seconds}}</p>
        </div>
        <div class="col-12 ref-box">
            <p class="text">seg</p>
        </div>
    </div>

</div>
