<div *ngIf="(!((resultados.url_f_iglesia == 'undefined')||(resultados.url_f_iglesia==''))||!((resultados.url_f_Youtube == 'undefined')||(resultados.url_f_Youtube==''))||!((resultados.url_f_conexion == 'undefined')||(resultados.url_f_conexion==''))||!((resultados.url_f_Zoom == 'undefined')||(resultados.url_f_Zoom==''))); then TransmOFF else TransmOFF" ></div>


<ng-template #TransmON>
   
    <app-card-envivo></app-card-envivo>
</ng-template>

<ng-template #TransmOFF>
    <app-card-no-en-vivo></app-card-no-en-vivo>
</ng-template>