<div class="card">
    <img id="img" src="{{resultados.url_img_Espera}}" class="card-img-top " alt="...">

    <div id="btns" class="card-body">

        <div class="msj-TransmOFF">
            <div class="versiculo"><q>Yo me alegré con los que me decían: A la casa de Jehová iremos.</q> <br>Salmos
                122:1</div>
            <div class="msj-N-live"><strong>{{Datos.Nombres}}</strong>, No Hay Transmisiones en Vivo, <br> Visite
                nuestras Redes sociales</div>
            <div class="redes"><a class="facebook" href="https://www.facebook.com/ibcunafamiliaconamor/"
                    target="_blank"><i class="fab fa-facebook"></i></a><a class="youtube"
                    href="https://youtube.com/channel/UCXrNOwQkYBa-r5XDE33y8CA" target="_blank"><i
                        class="fab fa-youtube"></i></a></div>
            <div class="oracion">
                <p>


            </div>
            <p >Quieres que Oremos Por ti <a href="{{resultados.url_peticiones}}"> haz clic</a></p>
            
            <app-boton-encuesta *ngIf="!(resultados.url_f_Encuesta1 == undefined)||!(resultados.url_f_Encuesta1 == null)"></app-boton-encuesta>
        
           
        
        </div>



        <!-- <button routerLink="/damas" class="btn btn-outline-primary w-100 mb-1">
            <i class="bi bi-eye"></i> Conferencia de Damas
        </button> -->

        


    </div>


</div>

  

