<div id="app">
  <div class="container-fluid ">
    <div class="row ">
      <div class="cabeza col-12 bg-light ">
    <img class="Logo " src="/assets/LOGO QUE DEBEMOS DE USAR.png" alt="">
  </div>
  <div class="cabeza col-12   justify-content-center">

<app-card></app-card>


  </div>
    </div>
  </div>
</div>
<footer >
  <div class="footer">
    Todos los Derechos Reservados 2021 &copy; <a href="mailto:unafamiliaconamor@yahoo.com">Iglesia Bautista El Calvario</a> -  <button id="ModificarDatos" class="btn" style="font-size: 13px; color: dodgerblue; background-color: rgb(246, 246, 246); padding: 1.5px; border-radius: 5px;">Modificar Mis Datos</button>
  </div>
</footer>