<div id="app">
  <div class="container-fluid ">
    <div class="row ">
      <div class="cabeza col-12 bg-light ">
    <img class="Logo " src="/assets/LOGO QUE DEBEMOS DE USAR.png" alt="">
  </div>
  <div class="cabeza col-12   justify-content-center">

<app-card-envivo></app-card-envivo>


  </div>
    </div>
  </div>
</div>
<footer >
  <div class="footer">
    Todos los Derechos Reservados 2021 &copy; <a href="mailto:unafamiliaconamor@yahoo.com">Iglesia Bautista El Calvario</a>
  </div>
</footer>